{% extends 'base.html.twig' %}

{% block title %}Evènements
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Evènements</h1>
		<div class="row">
			<div class="col-md-3">
				<div class="form-inline">
					<div class="form-group">
						<label for="sortList">Filter par &nbsp;</label>
						<select id="sortList" class="form-control">
							<option value="">Catégorie</option>
							<option value="">Ordre croissant</option>
							<option value="">Ordre décroissant</option>
							<option value="">Prix</option>
						</select>
						<button class="btn btn-info ml-1">
							<i class="fa fa-search"></i>
						</button>
					</div>

				</div>
			</div>
		</div>
		<div class="event-list">
		{% for event in events %}
			<div class="event-card row no-gutters">
				<div class="col-md-2">
					<div class="event-date h-100">
						<p class="event-day">{{ event.launchDate|date('d') }}<br/><span class="month">{{ event.launchDate|format_datetime(pattern='MMM',locale='en') }}</span>
						</p>
					</div>
				</div>
				<div class="col-md-2">
					<div class="event-img">
						<a href="{{ path('single_event',{'slug':event.slug}) }}">
							<img src="https://upload.wikimedia.org/wikipedia/commons/0/0f/Paris_Games_Week_%282016%29_Logo.png" alt="Image evenement" class="img-fluid">
						</a>
					</div>
				</div>
				<div class="col-md-7">
					<div class="event-infos">
						<a href="{{ path('single_event',{'slug':event.slug}) }}" class="text-center text-md-left"><h1 class="event-title">{{ event.name }}</h1></a>
						<span class="event-place text-center text-md-left">
							<i class="fa fa-map-marker-alt"></i>
							{{ event.place }}  - {{ event.launchDate|format_datetime(pattern='d MMMM yyyy',locale='en') }} - {{ event.stopDate|format_datetime(pattern='d MMMM yyyy', locale='en') }}</span>
						<p class="event-price text-center text-md-left">{{ event.price }} €</p>
					</div>
				</div>
				<div class="col-md-1">
					<div class="event-links d-flex justify-content-md-center align-items-md-end flex-md-column">
						{% for socialLink in event.socialLinks %}
						<a href="{{ socialLink.url }}" class="d-flex align-items-center justify-content-center">
							<i class="fab {{ socialLink.class }} fa-2x"></i>
						</a>
						{% endfor %}
					</div>
				</div>
			</div>
			{% endfor %}
			{{ knp_pagination_render(events, 'home/pagination.html.twig') }}
			
		</div>
	</div>
{% endblock %}
