{% extends 'base.html.twig' %}

{% block body %}
	<section>
		{% for success in app.flashes('successWithPw') %}
			<div id="success" data-error="{{ success }}"></div>
			<script>
				Toastify({
text: document.querySelector('#success').dataset.error,
duration: 10000,
close: true,
gravity: "bottom",
position: "left",
backgroundColor: "linear-gradient(to right, #11998e, #38ef7d)",
stopOnFocus: true
}).showToast();
			</script>
		{% endfor %}
		{% for success in app.flashes('success') %}
			<div id="success" data-error="{{ success }}"></div>
			<script>
				Toastify({
text: document.querySelector('#success').dataset.error,
duration: 10000,
close: true,
gravity: "bottom",
position: "left",
backgroundColor: "linear-gradient(to right, #11998e, #38ef7d)",
stopOnFocus: true
}).showToast();
			</script>
		{% endfor %}
		<div class="container mb-5">
			<h1 class="text-center">Mon compte</h1>
			<div class="row mt-5">
				<div class="col-md-6">
					<div class="card ">
						<div class="card-body">
							<span class="text-gray">Adresse Email</span>
							<h4>{{ app.user.email }}</p>
						</div>
						<div class="card-body">
							<span class="text-gray">Nom</span>
							<h4>{{ app.user.lastName }}</p>
						</div>
						<div class="card-body">
							<span class="text-gray">Prénom</span>
							<h4>{{ app.user.firstName }}</p>
						</div>
						<div class="card-body text-center">
							<a href="{{ path('editProfile') }}">
								<button class="btn btn-info">Modifier mon compte</button>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<h4>Mes évènements</h4>

					{% for event in events %}
						<a href="{{ path('single_event', {'slug':event.slug}) }}">
							<div class="event-card">
							<div class="row">
								<div class="col-md-4 ">
									<div class="event-date h-100">
										<p class="event-day">{{ event.launchDate|date('d') }}<br/><span class="month">{{ event.launchDate|format_datetime(pattern='MMM',locale='en') }}</span>
										</p>
									</div>
								</div>
								<div class="col-md-7 p-2">
									<h4>{{ event.name }}</h4>
									<p class="text-dark">{{ event.shortDesc|slice(0, 130) }}...</p>
								</div>
							</div>
						</div>
						</a>
					{% endfor %}
					{% if is_granted('ROLE_BUSINESS') == true %}
						<div class="d-flex justify-content-between flex-wrap mt-3">
							<a href="{{ path('my_events') }}">
								<button class="button button-header">Voir tous mes évènements</button>
							</a>
							<a href="{{ path('events_business_new') }}">
								<button class="button button-header">Ajouter un évènement</button>
							</a>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
